#titulo{
	 
	
	

}

body {
  background-color: #ffdd90;
  background-image: url("https://cdn.pixabay.com/photo/2016/10/11/21/43/geometric-1732847_960_720.jpg");
}
#email{
	color: black;

}
#software{
	-webkit-text-stroke: 0.8px white;
	font-size: 55px;
	color: black;
}
#texto1{
	font-family: 'Courgette', cursive;
	color: black;
	font-size: 25px;
}
#imagen1{
 width: 50px;
  height: 50px;
  position: absolute;
  top: 400px;
  left: 800px;

}
#imagen2{
	width: 400px;
  height: 300px;
  border-radius: 20px;
}
#contenedor1{
	
  position: absolute;
  top: 500px;
  left: 100px;
}
#contenedor2{
	 position: absolute;
  top: 70px;
  left: 300px;
}
}
#masters{
		width: 400px;
  height: 400px;
}
#contactlogo{
  position: relative;
  top: 2px;
  left: 500px;
}
#contactlogo1{
width: 200px;
  height: 200px;
}
#somos{

	font-size: 40px;

}
#textosomos{
  font-size: 20px;
}
#contenedorsomos{
   position: absolute;
  top: 300px;
  left: 400px;
}
#contactolibre{
 position: absolute;
  top: 80px;
  left: 430px;
}
#libreimagen{
  width: 350px;
  height: 200px;
}
#mouse{
  
  
}
#contmouse{
 position: absolute;
  top: 350px;
  left: 30px;
} 
#contexto2{

  position: absolute;
  top: 1200px;
  left: 100px;
}
#texto2{

  color: black;
  font-size: 25px;
  font-family: 'Cabin Sketch', cursive;
}
#contmac{
  position: absolute;
  top: 80px;
  left: 430px;
}
#imagenmac{
   width: 350px;
  height: 200px;
}
#contpantallas{
position: absolute;
  top: 1280px;
  left: 160px;
}
#pantallaimg{
width: 350px;
  height: 200px;
}


