#titulo{
	 
	
	

}

body {
  background-color: #ffdd90;
  background-image: url("https://cdn.pixabay.com/photo/2016/10/11/21/43/geometric-1732847_960_720.jpg");
}
#email{
	color: black;

}
#software{
	-webkit-text-stroke: 0.8px white;
	font-size: 55px;
	color: black;
}
#texto1{
	font-family: 'Courgette', cursive;
	color: black;
	font-size: 25px;
}
#imagen1{
 width: 50px;
  height: 50px;
  position: absolute;
  top: 400px;
  left: 800px;

}
#imagen2{
	width: 400px;
  height: 300px;
  border-radius: 20px;
}
#contenedor1{
	
  position: absolute;
  top: 400px;
  left: 100px;
}
#contenedor2{
	  position: absolute;
  top: 80px;
  left: 350px;
}
#masters{
		width: 400px;
  height: 400px;
}

